<div class="sys-check-body flex-row-center">
  <mat-card appearance="raised" [style.width.px]="810">
    <mat-card-header>
      <mat-card-title>Fragen</mat-card-title>
      <mat-card-subtitle>
        {{'Bitte bearbeiten Sie die nachfolgenden Fragen.'| customtext:'syscheck_questionsintro' | async}}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div *ngFor="let question of sysCheckDataService.checkConfig?.questions" [formGroup]="form">
        <ng-container [ngSwitch]="question.type">
          <h3 *ngSwitchCase="'header'">{{ question.options.length > 0 ? question.options : question.prompt }}</h3>

          <mat-form-field *ngSwitchCase="'string'" appearance="outline">
            <mat-label>{{question.prompt}}</mat-label>
            <input matInput data-cy="input-name"
                   [formControlName]="question.id" [id]="question.id" [required]="question.required">
          </mat-form-field>

          <mat-form-field *ngSwitchCase="'text'" appearance="outline">
            <mat-label>{{question.prompt}}</mat-label>
            <textarea matInput data-cy="textarea" [formControlName]="question.id" [id]="question.id"
                      [required]="question.required"></textarea>
          </mat-form-field>

          <mat-form-field *ngSwitchCase="'select'" appearance="outline">
            <mat-label>{{question.prompt}}</mat-label>
            <mat-select data-cy="selectfield" [id]="question.id" [formControlName]="question.id" [required]="question.required">
              <mat-option [attr.data-cy]="opt" *ngFor="let opt of question.options" [value]="opt">
                {{opt}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-checkbox *ngSwitchCase="'check'" data-cy="checkbox"
                        [formControlName]="question.id" [id]="question.id" [required]="question.required">
            {{question.prompt}}
          </mat-checkbox>

          <ng-container *ngSwitchCase="'radio'">
            <p>{{question.prompt}}</p>
            <mat-radio-group [id]="question.id" [formControlName]="question.id" [name]="question.id" [required]="question.required">
              <mat-radio-button [attr.data-cy]="opt" *ngFor="let opt of question.options" [value]="opt" class="formEntry">
                {{opt}}
              </mat-radio-button>
            </mat-radio-group>
          </ng-container>

          <p *ngSwitchDefault>Unbekannter Control-Typ: {{question.type}} für Element-ID {{question.id}}</p>
        </ng-container>
      </div>
    </mat-card-content>
  </mat-card>
</div>
